# Unity Stuff
*.meta
game/Library
game/Logs
game/Packages
game/ProjectSettings
game/Temp

# Visual Studio Metadata
.vscode/
.vs/
*.csproj
*.vbproj
*.sln

# This one gets included in the executables anyway.
System.Text.Json.dll

Kettle3D Installer (not production-ready)
installer/
